{
  "app/**/*.py": [
    "black --line-length 100",
    "pylint"
  ],
  "tests/**/*.py": [
    "black --line-length 100"
  ],
  "app/static/css/**/*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "app/static/js/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "app/templates/**/*.html": [
    "prettier --write"
  ]
}