[MASTER]

# Activer/désactiver les messages
# C = Convention
# R = Refactor
# W = Warning
# E = Error
# F = Fatal
disable=all
enable=C0301,  # Line too long
       C0303,  # Trailing whitespace
       C0114,  # Missing module docstring
       C0115,  # Missing class docstring
       C0116,  # Missing function docstring
       R1705,  # Unnecessary "elif" after "return"
       R1720,  # Unnecessary "elif" after "raise"
       W0707,  # Consider explicitly re-raising
       W0613   # Unused argument

[FORMAT]

# Longueur maximale des lignes
max-line-length=100

[MESSAGES CONTROL]

# Désactiver les messages spécifiques
# disable=missing-docstring

[REPORTS]

# Format du rapport
output-format=text

[TYPECHECK]

# Désactiver les vérifications de type
# disable=all

[VARIABLES]

# Désactiver les vérifications de variables
# disable=all