{% extends "base.html" %}
{% from "macros.html" import ajouter_etablissement %}
{% block scripts_head %}
<script>
let autocomplete;

window.initAutocomplete = function() {
    console.log("Initialisation de l'autocomplétion...");
    const input = document.getElementById('search');
    if (!input) {
        console.error("Élément #search introuvable !");
        return;
    }
    autocomplete = new google.maps.places.Autocomplete(input, {
        types: ['establishment'],  // Limite les résultats aux établissements commerciaux
        componentRestrictions: {country: 'fr'}  // Limite les résultats à la France
    });

    // Écouter les changements dans l'Autocomplete
    autocomplete.addListener('place_changed', function() {
        const place = autocomplete.getPlace();
        if (!place.geometry) return;

        // Remplir les champs avec les données extraites
        document.getElementById('nom').value = place.name || '';
        document.getElementById('adresse').value = place.formatted_address || '';

        // Envoyer l'adresse à une route AJAX pour extraire le code postal et la ville
        fetch('/extraire_infos_adresse', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ adresse: place.formatted_address }),
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('code_postal').value = data.code_postal || '';
            document.getElementById('ville').value = data.ville || '';
            document.getElementById('adresse').value = data.adresse_nettoyee || '';
        })
        .catch((error) => {
            console.error('Erreur:', error);
        });
    });
};

document.addEventListener('DOMContentLoaded', function() {
    console.log("DOM complètement chargé et analysé");
    const script = document.createElement('script');
    script.src = `https://maps.googleapis.com/maps/api/js?key=AIzaSyA8lo7V-ciL8oVwYXUiW00gb6O1_1K-JQ8&libraries=places&callback=initAutocomplete&v=weekly`;
    script.async = true;
    script.defer = true;
    document.head.appendChild(script);
});

</script>
<style>
    .form-container { padding: 10px; }
    .form-group { margin-bottom: 10px; }
    .form-label { display: block; margin-bottom: 5px; }
    .form-control { width: 100%; padding: 5px; }
    .error-message { color: red; }
    .btn-proposer { background-color: #4CAF50; color: white; padding: 10px 15px; border: none; cursor: pointer; }
    .btn-proposer:hover { background-color: #45a049; }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Ajouter un nouvel établissement</h1>
    <div class="form-container">
        {{ ajouter_etablissement(form, url_for('maps.ajouter_etablissement')) }}
    </div>
</div>
{% endblock %}
