<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PlanFlan{% endblock %}</title>
    {% block scripts_head %}{% endblock %}
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Lien vers les icones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>
        <h1>PLANFLAN</h1>
    </header>
    <nav>
        <a href="{{ url_for('main.index') }}" class="nav-link">Accueil</a>
        <a href="{{ url_for('main.rechercher') }}" class="nav-link">Recherche</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.dashboard') }}" class="nav-link">Tableau de bord</a>
            <a href="{{ url_for('auth.logout') }}" class="nav-link">Deconnexion</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="nav-link">Connexion</a>
            <a href="{{ url_for('auth.register') }}" class="nav-link">Inscription</a>
        {% endif %}
        <!-- Formulaire de recherche -->
        <form action="{{ url_for('main.rechercher') }}" method="GET" class="navbar-search">
            <input type="text" name="nom" placeholder="Rechercher..." class="search-input">
            <button type="submit" class="search-button">Rechercher</button>
        </form>
    </nav>
    <main class="container">
        <!-- Affichage des messages flash (succès/erreur) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 PlanFlan. Tous droits réservés.</p>
    </footer>
</body>
</html>
