<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Géolocalisation</title>
</head>
<body>
<!-- Inclure le fichier JavaScript externe -->
<script src="{{ url_for('static', filename='js/geoloc.js') }}" defer></script>
<script>
    const csrfToken = "{{ csrf_token() }}";
</script>

    <h1>Géolocalisation</h1>
    <button onclick="getLocation()">Obtenir ma position</button>

    <script>

    </script>

</body>
</html>
