{% extends "base.html" %}
{% block scripts_head %}
<meta name="csrf-token" content="{{ csrf_token() }}">
    <script src="{{ url_for('static', filename='js/geoloc.js') }}" defer></script>
{% endblock %}
{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh; padding: var(--padding-lg);">
    <h1 class="text-white" style="font-family: var(--font-bubblegum); font-size: 3.5rem; margin-bottom: var(--margin-lg); text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);">
        PLANFLAN
    </h1>

<form action="{{ url_for('main.liste_etablissements') }}" method="POST" class="form-container">
    {{ form_recherche.hidden_tag() }}
    <div class="form-group">
        {{ form_recherche.ville(
            class="form-control py-2",
            style="background-color: rgba(255, 255, 255, 0.9); border-radius: var(--border-radius-btn);",
            placeholder="Lyon"
        ) }}
    </div>
    <div class="form-group">
        {{ form_recherche.type_saveur.label(class="form-check-label") }}
        {{ form_recherche.type_saveur(
            class="form-select py-2",
            style="background-color: rgba(255, 255, 255, 0.9); border-radius: var(--border-radius-btn);",
            placeholder="Flan pâtissier"
        ) }}
    </div>

    <button type="submit" class="btn btn-success">
        {{ form_recherche.submit.label }}
    </button>
</form>

<a href="{{ url_for('maps.proposer_etablissement') }}" class="btn btn-success" role="button">
    Proposer une adresse
</a>
</div>
{% endblock %}
