{% extends "base.html" %}

{% block scripts_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
<!-- Debug temporaire -->

    <div class="container">
        <h2>Resultats de la recherche</h2>
    <div id="map"></div>
        {% if etablissements %}
            {{ afficher_grille('etablissement', etablissements, current_user) }}
        {% else %}
            <p>Aucun établissement trouvé.</p>
        {% endif %}
    </div>
{% endblock %}
