{% extends "base.html" %}
{% block content %}

<!-- Détails de l'établissement -->

{% set current_page = 'page_etablissement' %}
{{ afficher_objet('etablissement', etablissement, current_user, form_etab, current_page, delete_form, validate_form) }}


<!-- Grille des flans avec bouton d'ajout -->
 <h3>Flans</h3>
{{ afficher_grille('flan', etablissement.flans, current_user, None, form_flan, etablissement, None, delete_form, validate_form) }}

<!-- Bouton retour -->
<div>
<a href="{{ url_for('main.index') }}" class="btn btn-back btn-with-icon">
    <i class="fas fa-arrow-left"></i>
    Retour à l'accueil
</a>
</div>

{% endblock %}
