{% extends "base.html" %}

{% block content %}
    {{ afficher_objet('flan', flan, current_user, form_flan) }}

    <!-- Affichage des évaluations -->
    {{ afficher_grille('evaluation', flan.evaluations, current_user, form_eval, etablissement, flan) }}

    <!-- Boutons d'action -->
    <div class="flan-actions">
        <!-- Bouton retour -->
        <div>
            <a href="{{ url_for('main.afficher_etablissement_unique', id_etab=flan.etablissement.id_etab) }}" class="btn btn-back btn-with-icon">
                <i class="fas fa-arrow-left"></i>
                Retour à {{ flan.etablissement.nom }}
            </a>
        </div>
    </div>
{% endblock %}
